/ARRAY.class
/CALCULATOR.class
/COLLECTIONS.class
/CONSTRUCTOR.class
/EMAILVALIDATION.class
/INNERCLASS$Inner.class
/INNERCLASS.class
/MAP.class
/METHODS.class
/REGULAR_EXPRESSIONS.class
/STRING.class
/File_creation.class
/Main.class
/Virtual_Key.class
