/ARRAY.class
/CALCULATOR.class
/COLLECTIONS.class
/CONSTRUCTOR.class
/EMAILVALIDATION.class
/INNERCLASS$Inner.class
/INNERCLASS.class
/MAP.class
/METHODS.class
/REGULAR_EXPRESSIONS.class
/STRING.class
/AccessSpecifier1.class
/AcsessSpecifier2.class
/defaultspecifier.class
/privatespecifier.class
/privatspecifier11.class
/protectedspecifier.class
/publicspecifier.class
/typecastingchallenge.class
